VBox {
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: #103188;
}


.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: #103188;
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}

.globalChatVbox {
    -fx-background-color: #103188;
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}

.secondPane {
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 15;
    -fx-background-image: url(../Image/Menu/mainBackground.jpg);
    -fx-background-size: cover;
}

Button {
    -fx-background-color: #efeaea;
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}

.changeTextField {
    -fx-background-color: #d4d7dc;
    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}


.menuTitle {
    -fx-font-size: 36;
    -fx-text-fill: #ffd500;
}

@font-face {
    font-family: 'Matrix II Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Matrix II'), url('../font/MatrixII/MatrixIIRegular.otf') format('otf');
}

#secondPane {
    -fx-font-family: "Matrix II Regular";
    -fx-font-size: 20;
    -fx-background-image: url(../Image/Menu/mainBackground.png);
    -fx-background-size: cover;
}

#firstBox {
    -fx-background-color: #00062b;
    -fx-background-radius: 30;
}

#secondBox {
    -fx-background-color: #103188;
    -fx-background-radius: 15;
}

#menuBar {
    -fx-border-color: #ffd500;
    -fx-border-radius: 20;
}

#menuTitle {
    -fx-font-size: 36;
    -fx-text-fill: #ffd500;
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}
